body {
  background-color: #F2F3F5;
}

.main-container {

  overflow: hidden;
  
  .footer {
    text-align: center;
    position: relative;
    bottom: 0;
    left: 10rem;
    right: 0;
    width: 100%;

    &.pos-l-0 {
      left: 0;
    }
    
    i {
      color: #b3b3b3;
    }
  }
}

.app-container {
  margin-top: 3rem;
  &.no-margin {
    margin-top: 0;
  }
}

.borderless {
  td, th {
    border-top: none;
  }
}

.table-hover {
  
  tr {
    
    &:hover {
      cursor: pointer;
    }
  }
}

.right-gray-border {
  border-right: 1px solid #e3e3e3;
}

.left-gray-border {
  border-left: 2px solid #e3e3e3;

  &.left-shadow {
    box-shadow: 1px 0 2px #d3d3d3;
  }
}

.styless-list {
  list-style: none;
  margin-bottom: 0;
}

.item-clickable {
  cursor: pointer;
}

.react-viewer-transition {
  transition: opacity .01s ease-in-out !important;
}
