body {
  background-color: #F2F3F5;
}

.main-container {

  // overflow: hidden;
  
  .footer {
    text-align: center;
    position: relative;
    bottom: 0;
    left: 10rem;
    right: 0;
    width: 50%;

    &.pos-l-0 {
      left: 0;
      width: 100%;
    }
    
    i {
      color: #b3b3b3;
    }
  }
}

.app-container {
  margin-top: 3rem;
  &.no-margin {
    margin-top: 0;
  }
}

.borderless {
  td, th {
    border-top: none;
  }
}

.table-hover {
  
  tr {
    
    &:hover {
      cursor: pointer;
    }
  }
}

.right-gray-border {
  border-right: 1px solid #e3e3e3;
}

.left-gray-border {
  border-left: 2px solid #e3e3e3;

  &.left-shadow {
    box-shadow: 1px 0 2px #d3d3d3;
  }
}

.styless-list {
  list-style: none;
  margin-bottom: 0;
}

.item-clickable {
  cursor: pointer;
}

.react-viewer-transition {
  transition: opacity .01s ease-in-out !important;
}

.loading-container {
  position: relative;
  height: 100%;
  background: rgba(255,255,255,.7);
  z-index: 998;
  &.b-40 {
    bottom: 40rem;
  }
  &.b-10 {
    bottom: 10rem;
  }
  .loading {
    z-index: 999;
  }
}

.opacity-4 {
  opacity: .4;
}

.th-table-loading {
  background: #f6f7f8;
  background:  linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 500px 100px;
  border-radius: 3px;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loadingRow;
  animation-timing-function: linear;
  animation-duration: 5s;

  &.extra {
    animation-duration: 13s;
  }
}

.date-table-element {
  font-size: 14px;
  font-weight: bold;
}

.card-img-top {
  max-height: 200px;
}

.card-text-title {
  background: #e3e3e3;
  font-weight: bold;
}

.text-underline {
  text-decoration: underline !important;
}

.invalid-input {
  border: 1px solid red;
}

.strong-divider {
  height: 5px;
  background: black;
  &:last-child {
    background: transparent;
  }
}

@keyframes loadingRow{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}