// Colors
$card-top-color-1: #D57B23;
$card-top-color-2: #476F12;
$card-top-color-3: #2690AF;

#dashboard {

  .card {
    width: 100%;
    min-height: 100%;

    .card-body {
      padding-bottom: 0;
    }

    &:before {
      content: '';
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 1rem;
    }

    &.orange {

      &:before {
        background: $card-top-color-1;
      }
    }
    &.green {

      &:before {
        background: $card-top-color-2;
      }
    }
    &.blue {

      &:before {
        background: $card-top-color-3;
      }
    }

    .calendar {
      height: 40rem;

      .rbc-day-bg {

        &:hover {
          background: #eeee;
          cursor: pointer;
        }
      }
    }
  }
}